name: Release

permissions: {}

on:
  push:
    branches:
      - main

jobs:
  release-plz:
    name: Release-plz
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
      id-token: write
    steps:
      - uses: oxc-project/release-plz@f9c5540b74a583d84808d7e5c523d5006d06a6a9 # v1.0.5
        with:
          PAT: ${{ secrets.RELEASE_PLZ_TOKEN }}
