name: Release Binaries

permissions: {}

on:
  release:
    types: [published]

defaults:
  run:
    shell: bash

jobs:
  upload-assets:
    name: ${{ matrix.target }}
    if: github.repository_owner == 'Boshen'
    permissions:
      contents: write
    strategy:
      matrix:
        include:
          - target: aarch64-unknown-linux-gnu
            os: ubuntu-22.04

          - target: aarch64-unknown-linux-musl
            os: ubuntu-22.04

          - target: x86_64-unknown-linux-gnu
            os: ubuntu-22.04

          - target: x86_64-unknown-linux-musl
            os: ubuntu-22.04

          - target: x86_64-unknown-freebsd
            os: ubuntu-22.04

          - target: aarch64-apple-darwin
            os: macos-latest

          - target: x86_64-apple-darwin
            os: macos-latest

          - target: universal-apple-darwin
            os: macos-latest

          - target: aarch64-pc-windows-msvc
            os: windows-latest

          - target: x86_64-pc-windows-msvc
            os: windows-latest

    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    steps:
      - uses: taiki-e/checkout-action@3ab630d442e198ebb0ca30872832406ca01c46eb # v1.4.0

      - name: Set environment variables
        run: |
          VERSION=$(cargo metadata --no-deps --format-version 1 | jq -r '.packages[0].version')
          echo "SHEAR_VERSION=$VERSION" >> $GITHUB_ENV
          echo "CC=clang" >> $GITHUB_ENV # for mimalloc

      - uses: oxc-project/setup-rust@c8224157c0bf235aabc633e8cd50d344f087a7de # v1.0.12

      - uses: taiki-e/setup-cross-toolchain-action@b8d1a322a6009a2b7220f53996695778eef89b41 # v1.38.0
        with:
          target: ${{ matrix.target }}

      - run: echo "RUSTFLAGS=${RUSTFLAGS} -C target-feature=+crt-static -C link-self-contained=yes" >>"${GITHUB_ENV}"
        if: contains(matrix.target, '-linux-musl')

      - uses: taiki-e/upload-rust-binary-action@3962470d6e7f1993108411bc3f75a135ec67fc8c # v1.27.0
        with:
          bin: cargo-shear
          target: ${{ matrix.target }}
          tar: all
          zip: windows
          features: allocator
          token: ${{ secrets.GITHUB_TOKEN }}
